<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <meta name="description" content="GitHub 上入门级、有趣、实用的开源项目 - Cool GitHub Projects">
    <link rel="icon" href="/favicon.ico">
    <title>HelloGitHub &ndash; {{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.min.css')}}">
    {% block head %}
    {% endblock %}

</head>
<body>
{% block content %}
{% endblock %}

{% block js %}
{% endblock %}
</body>
</html>
