<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="icon" href="/favicon.ico">
    <title>HelloGitHub &ndash; {{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.min.css')}}">
    {% block head %}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/ui.js') }}"></script>
{% endblock %}
</body>

</html>
