<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="description" content="GitHub 上入门级、有趣、实用的开源项目 - Cool GitHub Projects">
    <link rel="icon" href="/favicon.ico">
    <title>HelloGitHub &ndash; {{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.min.css')}}">
    {% block head %}
    {% endblock %}

</head>
<body>
{% block content %}
{% endblock %}

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
