/*
Page button
*/
.pre {
    float: left;
}
.next {
    float: right;
}
/*
end Page button
*/

.bg-primary span {
    color: #bbb;
}

.color-blue {
    color: #1f8dd6;
}


.color-red {
    color: #d62733;
}

.color-green {
  color: #24ff33;
}

.fa-heart-o:hover::before {
    content: "\f004";
    cursor: pointer;
}

.fa-heart:hover::before {
    cursor: pointer;
}

/* favourite start */

.favourite {
    position: absolute;
    display: none;
    background-color: #eee;

    z-index: 999;
    color: #555;
    cursor: default;
    font-size: 14px;
}



.pure-form-aligned .pure-control-group label {
    width: 3em;
}

.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 4em;
}

/* favourite end */

/*login box start*/
.modal {
    display: none;

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    color: #555;
}

    .modal-content {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 200px;
        height: 180px;

        box-sizing: border-box;
        background-color: #fff;
        padding: 25px;
        border-radius: 5px;
    }

.center {
    text-align: center;
}

/*login box end*/


.collection-form {
    display: block;
    position: relative;
    margin-top: 15px;
}

.collection-item {
    display: block;
    position: relative;
    margin-top: 15px;
    padding: 8px;
    border: 1px solid #eee;

}
    .collection-item span.item-name {
        color: #333;
        font-weight: 500;
        font-size: 19px;
        line-height: 1.78em;
    }
        .collection-item span.item-name:hover {
            cursor: pointer;
        }
    .collection-item span.item-time{
        font-size: 14px;
        color: #999;
        font-weight: 400;
        display: inline;
    }
    .collection-item i.item-del{
        float: right;
        cursor: pointer;
    }

.collection-project {
    margin-top: 10px;
}
    .collection-project-info {
        margin-top: 2px;
        margin-bottom: 2px;
        position: relative;
        display: block;
    }

    .collection-project a {
        color: #333;
        font-size: 15px;
        line-height: 1.4em;
        text-decoration: none;
        text-overflow:ellipsis;
        cursor: pointer;
    }
    .collection-project a:hover {
        text-decoration: underline;
        cursor: pointer;
    }