<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>
<body>
<header id="nav">
    <a id="logo" href="/"></a>

    <div class="navholder">
        <nav class="links">
            <a href="/active">类别</a>
            <a href="/recent">最近</a>
            <a href="/comments">评论</a>
            <a href="/search">搜索</a>
            <a class="corner" href="/login">登录</a>
        </nav>
    </div>
</header>

<div id="inside">
    <ol class="stories list">
        <li id="story_8srhfp" class="story">
            <div class="story_liner h-entry">
                <div class="voters">
                    <a class="upvoter" href="/login"></a>
                    <div class="score">49</div>
                </div>
                <div class="details">
                    <span class="link">
                        <a href="https://github.com/microsoft/Microsoft-3D-Movie-Maker">Yandex 开源的企业级分布式 SQL 数据库</a>
                    </span>
                    <span class="tags">
                        <a class="tag tag_release" title="Software releases and announcements" href="/t/release">数据库</a>
                    </span>
                    <a class="domain" href="/domain/github.com">ydb-platform/ydb</a>
                    <div class="byline">
                        <a href="/u/akselmo"><img src="https://thirdwx.qlogo.cn/mmopen/vi_32/PiajxSqBRaEK6Whg0ZPBnfj6ay705PsibyqAibW1JIH3xXFjtIoTfficqtySAQuXPNf8D1eqwoY8OzMC8MJy2NFeibg/132" class="avatar" alt="akselmo avatar" loading="lazy" decoding="async" src="/avatars/akselmo-16.png" width="16" height="16"></a>
                        <a href="/u/akselmo" class="u-author h-card new_user">卤蛋</a>
                        发布于
                        <span title="2022-05-04 08:15:07 -0500">20 小时前</span>
                        |
                        <span>
                            <label for="archive_8srhfp">开源项目</label>
                        </span>
                        <span class="comments_label">
                            |
                        <a href="/s/8srhfp/microsoft_3d_movie_maker_is_now_open">评论 8</a>
                        </span>
                    </div>
                </div>
            </div>
            <a href="/s/8srhfp/microsoft_3d_movie_maker_is_now_open"
               class="mobile_comments " style="display: none;">
                <span>8</span>
            </a>
        </li>
    </ol>
    <div class="mortag_is_mediaelink"></div>
</div>


</body>
</html>